.cont {
  width: 100%;
  height: 500px;
  background-color: #777799;
  display: flex;
}
.cont3 {
  width: 25%;
  margin-left: 8%;
  text-align: center;
}
.contbody {
  border: 1px solid black;
  height: 300px;
  widows: 100%;
  background: #423e43;
  display: flex;
}
.img {
  display: flex;
}
.img1 {
  width: 50%;
}
h1 {
  color: lightseagreen;
}
