.contain {
  height: 00px;
  width: 100%;
  display: flex;
}
.cont1 {
  width: 20%;
  height: 500px;
  margin-right: 5%;
}
.button1 {
  text-align: center;
  font-size: 30px;
  width: 100%;
  margin-top: 5%;
}
.button2 {
  font-size: 30px;
  width: 100%;
  margin-top: 3%;
  text-align: start;
}
#footer {
  margin-top: 75%;
}
